<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Task1_SignUp::signup" title="SignUp"
              module="Task1_SignUp" resource="Task1_SignUp::signup"
             translate="title" sortOrder="30" action="signup"/>
    </menu>
</config>
